@import './lib/example';
@font-face {
  font-family: 'Roboto';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoTTF/Roboto-Regular.ttf');
}

.TAS_popup {
  width: 408px;
  height: 800px;
}

.TAS_root {
  all: initial;
}

.TAS_root::shadow {
  .TAS_displayCon {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    z-index: 99999999999999999999;
    background-color: #fcfcfc;
    border-left: solid 8px #efefef;
    font-size: 12px;
    font-family: 'Roboto';
  }
  .TAS_tabCon {
    position: relative;
    border-bottom: solid 1px #efefef;
    background-color: white;
    cursor: pointer;
    height: 32px;
    white-space: nowrap;
    padding: 0 10px 0 30px;
  }
  .TAS_highlighted {
    background-color: #efefef;
  }
  .TAS_highlighted .TAS_tabTitle {
    color: #333;
  }
  .TAS_tabTitle {
    overflow: hidden;
    line-height: 32px;
    vertical-align: middle;
  }
  .TAS_tabIcon {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    left: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-border-radius: 2px;
  }
}
