@import './lib/example';
@font-face {
  font-family: 'Roboto';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoTTF/Roboto-Regular.ttf');
}

.TAS_popup {
  width: 600px;
  height: 800px;
}

.TAS_root {
  all: initial;
}

.TAS_root::shadow {
  @import 'material-design-lite/material.min';
  .TAS_displayCon {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999;
    background-color: white;
  }
  .TAS_tabCon {
    position: relative;
    margin: 8px 20px;
    cursor: pointer;
    width: auto;
    min-height: 20px;
    white-space: nowrap;
    padding: 0 10px 0 52px;
  }
  .TAS_highlighted {
    background-color: #758CA6;
  }
  .TAS_highlighted .TAS_tabTitle {
    color: white;
  }
  .TAS_tabTitle {
    overflow: hidden;
  }
  .TAS_tabIcon {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 12px;
    left: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-border-radius: 2px;
  }
}
