@import './lib/example';
@font-face {
  font-family: 'Roboto';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoTTF/Roboto-Regular.ttf');
}
.TAS_popup {
  width: 408px;
  height: 600px;
  body {
    height: 600px;
    overflow: hidden;
  }
}
.TAS_root {
  all: initial;
}
.TAS_root::shadow {
  .TAS_displayCon {
    position: fixed;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 99999999999999999999;
    background-color: #fcfcfc;
    border-left: solid 8px #f1f1f1;
    font-size: 12px;
    font-family: 'Roboto';
  }
  .TAS_tabCon {
    position: relative;
    border-bottom: solid 1px #f1f1f1;
    border-top: solid 1px white;
    background-color: white;
    cursor: pointer;
    height: 32px;
    white-space: nowrap;
    padding: 0 10px 0 30px;
  }
  .TAS_searchCon {
    background-color: #f1f1f1;
    padding: 8px 8px 8px 0;
  }
  .TAS_searchInput {
    -webkit-appearance: none;
    border: 0;
    width: 100%;
    outline: 0 !important;
    font-size: 12px;
    height: 50px;
    margin: 0;
    padding: 0 10px;
    border: solid 8px #f1f1f1;
    border-radius: 25px;

    &::-webkit-input-placeholder {
      color: #a1a1a1;
      padding-left: 4px;
    }
  }
  .TAS_highlighted {
    background-color: #f1f1f1;
    padding-right: 0;
    border-right: solid 10px #d4d4d4;
    border-top: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
  }
  .TAS_highlighted .TAS_tabTitle {
    color: #333;
  }
  .TAS_tabTitle {
    overflow: hidden;
    line-height: 32px;
    vertical-align: middle;
  }
  .TAS_tabIcon {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    left: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    -webkit-border-radius: 2px;
  }
}
