{{#each tabs}}
  <div class="TAS_tabCon" data-tab-id="{{id}}">
    <div class="TAS_tabIcon" style="background-image: url(&quot;{{faviconUrl}}&quot;);"></div>
    <div title="{{title}}" class="TAS_tabTitle">
      <div class="TAS_tabTitleText">{{title}}</div>
    </div>
  </div>
{{/each}}
