<div class="TAS_keys">
  <div class="TAS_keyCon">
    <div tabindex="0" class="TAS_keyModifier TAS_key">{{modifier}}</div>
    <div class="TAS_label">modifier</div>
  </div>

  <div class="TAS_keyCon">
    <div tabindex="0" class="TAS_keyNext TAS_key">{{next}}</div>
    <div class="TAS_label">next</div>
  </div>

  <div class="TAS_keyCon">
    <div tabindex="0" class="TAS_keyPrevious TAS_key">{{previous}}</div>
    <div class="TAS_label">previous</div>
  </div>

  <div class="TAS_saveCon">
    <div class="TAS_save">Save</div>
    <div class="TAS_status"></div>
  </div>
</div>
