<h1>Options</h1>

<form class="form" action="index.html" method="post">
  <div class="form-field">
    <label for="key-modifier">
      <input type="text" id="key-modifier">
    </label>
  </div>

  <div class="form-field">
    <label for="key-next">
      <input type="text" id="key-next">
    </label>
  </div>

  <div class="form-field">
    <label for="key-previous">
      <input type="text" id="key-previous">
    </label>
  </div>
</form>

<div id="status"></div>
<button id="save">Save</button>
